.question-page {
    text-align: center; /* 텍스트 중앙 정렬 */
    margin: 100px; /* 여백 설정 */
}

.question-page h2 {
    margin-bottom: 20px; /* 제목 아래의 여백 */
}

.options {
    display: flex; /* 버튼을 플렉스 아이템으로 처리 */
    flex-direction: column; /* 버튼을 수직으로 배열 */
    align-items: center; /* 버튼을 중앙 정렬 */
}
