.result-page {
    gap: 50px;
}

.result-section {
    border: 5px solid #000;
    width: 100%;
    padding: 30px 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.result-intro {
    font-size: 2em;
    font-family: 'HakgyoansimNadeuriTTF-B';
}

.result-title {
    font-size: 3em;
    font-family: 'TTWanjudaedunsancheB';
}

.books-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}


.result-page img {
    /*width: 180px; !* 이미지 너비 *!*/
    height: auto; /* 이미지 높이 자동 */
    border-radius: 10px; /* 이미지 모서리 둥글게 */
}

.buttons-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}